fastapi
uvicorn[standard]
python-multipart
sqlalchemy
alembic
asyncpg

passlib[bcrypt]
PyJWT
pydantic
pydantic-settings
aiohttp
httpx
requests
google-genai
celery
redis
aiosmtplib
email-validator
slowapi
flower
python-dotenv
click
cryptography